{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block title %}Детали товара{% endblock %}

{% block content %}

<h2 class="text-center mb-3 text-muted pb-5">{{product.name_product}}</h2>
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 38rem;">
        <div class="card-img-container"
             style="height: 250px; overflow: hidden; display: flex; justify-content: center; align-items: center; background: #f5f5f5;">
            <img src='{{ product.photo|media_filter }}'
                 class="card-img-top"
                 style="max-height: 100%; max-width: 100%; object-fit: contain;"
                 alt="{{product.name_product|upper}}">
        </div>
        <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center my-3">{{product.name_product|upper}} {{product.price}}</h5>
            <p class="card-text text-center flex-grow-1">{{ product.description }}</p>
            <div class="text-center mt-auto">
                <a href="#" class="btn btn-outline-primary w-75">
                    <i class="fas fa-shopping-cart me-2"></i>Заказать
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}